<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand"><img class="img-fluid" src="/assets/[LOGO] JS_STORE - darkbg.png" alt="" width="150" ></a>

  <div class="container-fluid">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a routerLink="/manageitems" class="nav-link" *ngIf="authenticated"
          >Manage</a
        >
      </li>
      <li>
        <a routerLink="/items" class="nav-link">Visualize</a>
      </li>
    </ul>
  </div>

  <div>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a routerLink="/readme" class="nav-link">Readme</a>
      </li>

      <li class="nav-item text-nowrap" *ngIf="!authenticated">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>

      <li class="nav-item text-nowrap" *ngIf="authenticated">
        <a routerLink="/login" (click)="logout()" class="nav-link">Logout</a>
      </li>
    </ul>

  </div>
</nav>
